/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "钉钉进步体 Regular";font-weight: 400;src: url("//at.alicdn.com/wf/webfont/89nymFZ76jg0/WHiWeRtgWB-3xAEf19Wgl.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/89nymFZ76jg0/4PPPAEACkSTCyYRERgXjz.woff") format("woff");
    font-display: swap;
  }
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈数黑体 Bold";font-weight: 700;src: url("//at.alicdn.com/wf/webfont/89nymFZ76jg0/y2D72PY0j88YWOTd_n4jF.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/89nymFZ76jg0/YhOutQbifrxL8-B3hCnph.woff") format("woff");
    font-display: swap;
  }
  /* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "得意黑 斜体";font-weight: 400;src: url("//at.alicdn.com/wf/webfont/89nymFZ76jg0/5wZj2EEpFOPe8-tggjRhx.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/89nymFZ76jg0/TMoftNtk64uPBT9YGOrCC.woff") format("woff");
    font-display: swap;
  }
  /* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "仓耳渔阳体 W04";font-weight: 400;src: url("./TsangerYuYangT_W04_W04.ttf");
    font-display: swap;
  }